/* reset 2017 by Andrew Silent 
-------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section,
input, textarea, select, button {
	display:block;
}
:focus {
	outline:0;
}
body {
	line-height:1;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
* {
    transition: all 0.3s ease 0.1s;
}

/* clearfix
-------------------------------------------------- */
.clear:before, .clear:after {
  content:'';
  display:block;
  clear:both;
}
.clearfix:after {
  content:'';
  display:block;
  clear:both;
}
.relative {
    position:relative;
}

/* main classes
-------------------------------------------------- */
html, body {
    height:100%;
    min-height:100%;
}
body {
  font:300 1rem/1.4 Helvetica, sans-serif;
  color:#fff;
  background-color:#2b2a2a;
    overflow-x:hidden;
}
a {
  text-decoration:none;
  color:#fff;
  outline:none;
}
a:hover {
  color:#fff;
}
h1, h2, h3, h4, h5, h6 {
  color:#fff;
}
h1 {
  font-size:3rem;
}
h2 {
  font-size:2rem;
}
h3 {
  font-size:1.8rem
}
h4 {
  font-size:1.5rem;
}
h5 {
  font-size:1.3rem;
}
h6 {
  font-size:1.15rem;
}
p {
  line-height:1.5;
}
i {
    color:#D85151;
}
.no-display {
	display:none;
}
#main {
	min-height:100%;
}
/* content
-------------------------------------------------- */
#wrapper {
    min-height:100%;
    height:1px;
}
.width {
    width:100%;
    max-width:1700px;
    margin:0 auto;
}
header {
    width:100%;
    height:100%;
    max-width:1920px;
    background:#2b2a2a url(../img/head-bg.png) 0 0 no-repeat;
    background-size:cover;
    padding:30px 0;
    box-sizing:border-box;
}
header .width {
    height:100%;
    position:relative;
}
hgroup {
    float:left;
    width:320px;
}
.qbex-logo {
    height:41px;
    width:107px;
    background:url(../img/logo-white.png) 0 0 no-repeat;
}
.main-menu {
    float:right;
    width:320px;
    text-align:right;
    margin-bottom:100px;
}
.main-menu ul {

}
.burger {
    height:24px;
    width:100%;
    margin-bottom:20px;
    text-align:right;
}
.burger a { 
    display:inline-block;
    overflow:hidden;
    content:'';
    line-height:0;
}
.main-menu ul li {
    line-height:1.8;
}
.main-menu ul li a {
    text-transform:uppercase;
    font-size:1.125rem;
}
.main-menu ul li a:hover {
    color:#D85151;
}
.main-menu ul li a:active {
    color:#D85151;
}
.content {
    clear:both;
    display:block;
    overflow:hidden;
}
.navigation {
    position:absolute;
    left:0;
}
.navigation ul li {
    line-height:2.85;
}
.navigation ul li a {
    font-size:1.125rem;
    color:rgba(255,255,255,0.5);
}
.navigation ul li a:hover {
    color:#D85151;
}
.navigation ul li a:active {
    color:#D85151;
}
#section-1 {
    width:800px;
    margin-left:337px;
}
#section-1 h1 {
    text-transform:uppercase;
    padding-bottom: 45px;
}
.button {
    height:69px;
    width:348px;
    box-sizing:border-box;
    border:4px solid #D85151;
    text-align:center;
    font-size:1.5rem;
    display:block;
    line-height:61px;
    text-transform:uppercase;
}
.button:hover {
    color:#D85151;
}

.bottom-section {
    position:relative;
    position: absolute;
    bottom:30px;
}
.page-nav {
    width:58px;
    position:absolute;
    left:0;
}
.down {
    height:24px;
    width:24px;
    float:left;
    background:url(../img/down.png) 0 0 no-repeat;
}
.up {
    height:24px;
    width:24px;
    float:right;
    background:url(../img/up.png) 0 0 no-repeat;
}
#social {
    margin-left:338px;
}
#facebook, #linkedin {
    text-transform:uppercase;
    padding-right:50px;
    color:rgba(255,255,255,0.5);
    transition: 0.3s ease 0.2s;
}
#facebook:hover, #linkedin:hover {
    color:rgba(255,255,255,1);
    transition: 0.3s ease 0.1s;
}
main {
    height:1920px;
}